{% extends 'base.twig' %}

{% block content %}
    <div class="container lg:max-w-screen-lg mx-auto">
        <div class="grid grid-cols-2 gap-4">
            <div>
                <img src="/products/{{ article.article_number }}/media/1" class="bg-white rounded-md w-full"/>
            </div>

            <div>
                <code class="block -mb-2">{{ article.article_number }}</code>
                <h1 class="text-5xl font-black leading-tight">{{ article.title }}</h1>

                {% if article.description %}
                    <p class="text-lg">{{ article.description }}</p>
                {% endif %}

                <div class="mt-4">
                    {% if article.price_campaign %}
                        <p>
                            {{ article.price_campaign|format_price(article.currency) }}
                            <del>{{ article.price|format_price(article.currency) }}</del>
                        </p>
                    {% else %}
                        <p>
                            {{ article.price|format_price(article.currency) }}
                        </p>
                    {% endif %}
                </div>

                <a href="{{ article.url|escape('html_attr') }}"
                   class="block bg-yellow-400 text-gray-700 rounded-md font-medium p-3 mt-4 text-center">Buy now</a>
            </div>
        </div>

    </div>
{% endblock %}
