<div>
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <p>{{ article.article_number }}</p>
    <p>{{ article.price }}</p>
    <p>{{ article.price_campaign }}</p>
    <p>{{ article.currency }}</p>
    <p>{{ article.in_stock }}</p>
    <p>{{ article.category }}</p>
    <p>{{ article.url }}</p>
</div>
